.customerDataFormApplied [data-lsjs-element="deviantShippingAddress"].hideDeviantShippingAddress {
	display: none;
}

.customerDataFormApplied label.mandatory::after {
	content: "*";
	display: inline-block;
}

.customerDataFormApplied label.mandatory .mandatory {
	display: none;
}